
*{
    font-family: 'PT Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#contenedor{
    margin: 0 2%;
}

#cont-proy{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 2%;
    row-gap: 5%;
    margin: 5% 10%;
}

.proyectos{
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    border-radius: 1.8%;
}


.proyectos a{
    color: white;
    text-decoration: none;
}

.proyectos img{
    max-width: 100%;
}

h1{
    size: 400;
}