
*{
    font-family: 'PT Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

header{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header >h1{
    margin-left: 20px;
}


#contenedor{
    margin: 0 2%;
}

.contacto{
    text-decoration:none;
}

.contacto:visited:enabled{
    color:black;
}

#cont-proy{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50% 50%;
    column-gap: 5%;
    row-gap: 5%;
    margin-bottom: 5%;    
    justify-content: center;
}

.proyectos{
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    border-radius: 10px;
}

.contenedorImg{
    border-radius: 50px 50px 0px 0px;
    width: 70%;
    height: 80%;
    margin: auto;
}


.proyectos a{
    color: white;
    text-decoration: none;
}

.proyectos img{
    max-width: 100%;
}
