footer{
    text-align:center;
  }
  
  li{
    font-size: 90%;
    text-align:justify;
    margin:1% 0;
  }
  
  body{
    margin:3% 1%;
    display: grid;
    grid-template-areas:
     "header header header"
     "image image image"
     "info info info"
     "footer footer footer";
  }
  #main{
    display:flex;
    flex-direction:column;
    background-color:#f7f6f0;
  }
  #title{
    text-align:center;
    grid-area:header;
  }
  
  #img-div{
    display:grid;
    grid-area:image;
    justify-content:center;
    align-items:center;
    margin:2%;
    padding: 1% 10% 2% 10%;
    background-color:white;
  }
  
  #img-div img{
    display:block;
    max-width:100%;
    margin: 0 0 5px 0;
  }
  
  #img-div figcaption{
    text-align:justify;
  }
  
  #tribute-info{
    padding:0.5% 25%;
    text-align:center;
  }
  
  #tribute-link{
    color:none;
    text-decoration:none;
  }
  
  #tribute-link:hover{
    color:none;
    text-decoration:none;
  }
  
  